body {
    font-family: Arial, sans-serif;
    background-image: url('imgs/fondopuntos.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.fondo{
    z-index: -99;
    position: absolute;
    opacity: 0.5;
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    width: 350px;
    border-radius: 4px;
    background-color: #fff;
}

label,
input,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type=number],
input[type=text],
select {
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border: none;
}

.iconoDerecha {
    right: 87% !important;
    color: #fff
}